.space-shortcode-custom-3 .space-companies-sidebar-item {
	padding-bottom: 0;
}

.space-shortcode-custom-3 .space-companies-sidebar-item-ins-wrap {
	padding: 28px;
	transition: all 0.5s ease-in-out;
}

.space-shortcode-custom-3 .space-companies-sidebar-item-title,
.space-shortcode-custom-3 .space-companies-sidebar-item-button {
	margin-left: 85px;
}

.space-shortcode-custom-3 .space-companies-sidebar-item-img {
	width: 75px;
}

.space-companies-sidebar-items .space-companies-sidebar-item {
	border: 1px solid var(--border-color);
	margin: 10px 0;
}

.space-companies-sidebar-items .space-companies-sidebar-item:last-child {
	margin-bottom: 0;
}

@media (width <= 767px) {
	.space-default-widget {
		margin-right: 0 !important;
		margin-left: 0 !important;
	}

	.space-shortcode-wrap {
		width: auto;
		margin: 0 8px !important;
	}

	.space-companies-sidebar-items .space-companies-sidebar-item {
		margin: 0;
	}

	.space-shortcode-custom-3 .space-companies-sidebar-item-ins-wrap {
		padding: 16px;
	}

	.space-shortcode-custom-3 .space-companies-sidebar-item-img {
		width: 110px;
	}

	.space-shortcode-custom-3 .space-companies-sidebar-item-title,
	.space-shortcode-custom-3 .space-companies-sidebar-item-button {
		margin-left: 125px;
	}

	.space-companies-sidebar-item-ins-wrap
		.space-organizations-3-archive-item-rating {
		top: 100% !important;
		left: 20% !important;
	}
}
